.row
  .col.s12
    %ul.tabs
      %li.tab.col.s6
        %a{href: '#maps'} Maps
      %li.tab.col.s6
        %a{href: '#report'} Report
#report
  .row
    %form.col.s12{action: 'api/vote', method: 'post', 'data-remote' => true}
      .input-field.col.s12
        %select{name: 'map'}
          %option{value: '', disabled: true, selected: true}
          - @maps.each do |name, level|
            %option{value: name}= "#{titleize(name)} (#{level})"
        %label Map
      .input-field.col.s12
        %select{name: 'tempest'}
          %option{value: '', disabled: true, selected: true}
          - @tempests.each do |key, tempest|
            - next if key == :unknown
            %option{value: key}= tempest[:name]
        %label Tempest
      .input-field.col.s12
        %button.btn.waves-effect.waves-light{type: 'submit', name: 'action'}
          Send

  #reported.modal
    .modal-content
      %h4 Tempest Reported
      %p Thank you, Your tempest sighting has been logged
    .modal-footer
      %a.modal-action.modal-close.btn-flat{href: '#!'} Close

#maps
  %table
    %thead
      %tr
        %th{"data-field" => "map"} Map
        %th{"data-field" => "tempest"} Tempest
        %th{"data-field" => "description"} Description
    %tbody
      - @maps.each do |name, level|
        - tempest = @tempests[@tempests.keys.sample]
        %tr
          %td= "#{titleize(name)} (#{level})"
          %td= tempest[:name]
          %td
            = tempest[:monster_bonus]
            %br
            = tempest[:player_bonus]
