.row
  .col.s12
    %ul.tabs
      %li.tab.col.s4
        %a{href: '#maps'} Maps
      %li.tab.col.s4
        %a{href: '#report'} Report
      %li.tab.col.s4
        %a{href: '#more'} More

#report
  .row
    %form.col.s12{action: 'api/vote', method: 'post', 'data-remote' => true}
      .input-field.col.s12
        %select{name: 'map'}
          %option{value: '', disabled: true, selected: true}
          - @maps.each do |name, level|
            %option{value: name}= "#{titleize(name)} (#{level})"
        %label Map
      .input-field.col.s12
        %select{name: 'tempest'}
          %option{value: '', disabled: true, selected: true}
          - @tempests.each do |key, tempest|
            - next if key == :unknown
            %option{value: key}= tempest[:name]
        %label Tempest
      .input-field.col.s12
        %button.btn.waves-effect.waves-light{type: 'submit', name: 'action'}
          Send

  #reported.modal
    .modal-content
      %h4 Tempest Reported
      %p Thank you, Your tempest sighting has been logged
    .modal-footer
      %a.modal-action.modal-close.btn-flat{href: '#!'} Close

#maps
  .row
    .col.s12
      %h3.center-align
        Tempests move in
        = succeed ':' do
          %span#minutes-left 5
        %span#seconds-left> 23
  %table
    %thead
      %tr
        %th{"data-field" => "map"} Map
        %th{"data-field" => "tempest"} Tempest
        %th{"data-field" => "description"} Description
    %tbody
      - @maps.each do |name, level|
        - tempest = @active_tempests[name]
        %tr
          %td= "#{titleize(name)} (#{level})"
          %td= tempest[:name]
          %td
            - if tempest[:message]
              = tempest[:message]
            - else
              = tempest[:monster_bonus]
              %br
              = tempest[:player_bonus]

#more
  %p
    The more we know about tempests, the more effective we can make this tool. If you know the answer to any of the following open questions, or if you have a suggestion, please get in touch with me
    %a{href: 'mailto:justin@justinvanderheide.com'} by email
    or on
    %a{href: 'https://github.com/jayvan/tempest-watch'} GitHub.
  %ul.collection
    %li.collection-item Do unique maps have the same tempest as their base map? e.g. Does "The Coward's Trial" always have the same tempest as "Crypt"?
    %li.collection-item Tempests have affixes, does a zone always have the same prefix/suffix, or is it just the base of the tempest that remains constant for the hour?
    %li.collection-item What are all of the tempests? If you see one that isn't in the system let me know, if you can datamine them all that's even better!
