.row
  .col.s12
    %ul.tabs
      %li.tab.col.s4
        %a{href: '#maps'} Maps
      %li.tab.col.s4
        %a{href: '#report'} Report
      %li.tab.col.s4
        %a{href: '#more'} More

#report
  .row
    %form.report.col.s12{action: 'api/v0/vote', method: 'post', 'data-remote' => true}
      .input-field.col.s12
        %select{name: 'map'}
          %option{value: '', disabled: true, selected: true}
          - @maps.each do |map|
            %option{value: map.name}= "#{titleize(map.name)} (#{map.level})"
        %label Map
      .input-field.col.s12
        %select{name: 'base'}
          %option{value: '', disabled: true, selected: true}
          - @tempest_bases.each do |key, base|
            %option{value: key}= titleize(key)
        %label Tempest
      .input-field.col.s12
        %select{name: 'suffix'}
          %option{value: '', disabled: true, selected: true}
          - @tempest_suffixes.each do |key, suffix|
            %option{value: key}= titleize(key)
        %label Suffix
      .input-field.col.s12
        %button.btn.waves-effect.waves-light.teal.darken-2{type: 'submit', name: 'action'}
          Send

#maps
  .row
    .col.s12
      %h5#countdown.center-align
        Tempests move in
        = succeed ':' do
          %span#minutes-left 0
        %span#seconds-left> 0
  %table
    %thead
      %tr
        %th{'data-field' => 'agree'}
        %th{'data-field' => 'disagree'}
        %th{'data-field' => 'map'} Map
        %th.hide-on-small-and-down
        %th{'data-field' => 'tempest'} Tempest
        %th.hide-on-small-and-down{'data-field' => 'description'} Description
    %tbody
      - @maps.each do |map|
        - tempest = map.tempest
        %tr{:class => tempest.type}
          %td
            -# if tempest.base_name != 'unknown'
            %a{onclick: "vote('#{map.name}','#{tempest.base_name}','#{tempest.suffix_name}')"}
              %i.material-icons thumb_up
          %td
            -# if tempest.base_name != 'unknown'
            %a{onclick: "downvote('#{map.name}','#{tempest.base_name}','#{tempest.suffix_name}')"}
              %i.material-icons thumb_down
          %td
            = "#{titleize(map.name)} (#{map.level})"
          %td.hide-on-small-and-down
            - if tempest.votes > 0
              %span.votes= tempest.votes
          %td= tempest.name
          %td.hide-on-small-and-down= tempest.description
        %tr{:class => "#{map.name}-report map-report"}
          %td{:colspan => 6}
            .please-report Please select the correct tempest and send the report.
            %form.report.col.s12{action: 'api/v0/vote', method: 'post', 'data-remote' => true}
              %input{type: 'hidden', value: map.name, name: 'map'}
              .input-field.col.s12
                %select{name: 'base'}
                  %option{value: '', disabled: true, selected: true}
                  - @tempest_bases.each do |key, base|
                    %option{value: key}= titleize(key)
                %label Tempest
              .input-field.col.s12
                %select{name: 'suffix'}
                  %option{value: '', disabled: true, selected: true}
                  - @tempest_suffixes.each do |key, suffix|
                    %option{value: key}= titleize(key)
                %label Suffix
              .input-field.col.s12
                %button.btn.waves-effect.waves-light{type: 'submit', name: 'action'}
                  Send

#more
  %p
    If you create any programs that integrate with this site please let me know. I'll list them here!
