.row
  .col.s12
    %ul.tabs
      %li.tab.col.s4
        %a{href: '#maps'} Maps
      %li.tab.col.s4
        %a{href: '#report'} Report
      %li.tab.col.s4
        %a{href: '#more'} More

#report
  .row
    %form.col.s12{action: 'api/v0/vote', method: 'post', 'data-remote' => true}
      .input-field.col.s12
        %select{name: 'map'}
          %option{value: '', disabled: true, selected: true}
          - @maps.each do |map|
            %option{value: map.name}= "#{titleize(map.name)} (#{map.level})"
        %label Map
      .input-field.col.s12
        %select{name: 'base'}
          %option{value: '', disabled: true, selected: true}
          - @tempest_bases.each do |key, base|
            %option{value: key}= titleize(key)
        %label Tempest
      .input-field.col.s12
        %select{name: 'suffix'}
          %option{value: '', disabled: true, selected: true}
          - @tempest_suffixes.each do |key, suffix|
            %option{value: key}= titleize(key)
        %label Suffix
      .input-field.col.s12
        %button.btn.waves-effect.waves-light{type: 'submit', name: 'action'}
          Send

  #reported.modal
    .modal-content
      %h4 Tempest Reported
      %p Thank you, Your tempest sighting has been logged
    .modal-footer
      %a.modal-action.modal-close.btn-flat{href: '#!'} Close

#maps
  .row
    .col.s12
      %h5.center-align
        Tempests move in
        = succeed ':' do
          %span#minutes-left 5
        %span#seconds-left> 23
  %table
    %thead
      %tr
        %th{"data-field" => "map"} Map
        %th{"data-field" => "tempest"} Tempest
        %th{"data-field" => "description"} Description
    %tbody
      - @maps.each do |map|
        - tempest = map.tempest
        %tr
          %td= "#{titleize(map.name)} (#{map.level})"
          %td= tempest.name
          %td= tempest.description

#more
  %p
    If you create any programs that integrate with this site please let me know. I'll list them here!
